<!DOCTYPE html>
<html>
  <head>
    <title>MANUAL</title>
    
         <style>
      body,
      html {
        background-color: black;
        font-family: Comic Sans MS, Comic Sans, cursive;
      }
    </style>
  </head>
  <body>
    

    <center>
        <h1 style="color: white;">MANUAL</h1>
        <br><br><br>
        <img src="{{url_for('static', filename='manual1.png')}}"  />
        <img src="{{url_for('static', filename='manual2.png')}}"  />
    </center>
  
    
  </body>
</html>