<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VIEW PROFILE</title>
    <style>
      .html {
        background-color: black;
      }
    </style>
  </head>
  <body>
    <center>
      <iframe
        src="https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2Femp%2Bprofile&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model000001847a264a03_00000002"
        width="1000"
        height="700"
        frameborder="0"
        gesture="media"
        allow="encrypted-media"
        allowfullscreen=""
      ></iframe>
    </center>
  </body>
</html>
